.header__link {
  text-decoration: none;
  color: #FFF;
  font-size: 18px;
  line-height: 1.22;
  transition: opacity .2s linear;
}

.header__link:hover {
  opacity: .7;
}

.header__link:active {
  opacity: .5;
}